/*
  Google Fonts
*/
@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700;800;900&family=Oxygen+Mono&family=Oxygen:wght@300;400;700&display=swap');

/*
  Basics Elements
*/

:root {
  --black: #171321;
  --dkblue: #0d314b;
  --plum: #4b0d49;
  --hotmag: #ff17e4;
  --magenta: #e310cb;
  --aqua: #86fbfb;
  --white: #f7f8fa;
  --font-size: 1.3rem;
  --mono: 'Oxygen mono', monospace;
  --sans: Oxygen, sans-serif;
  --golos: 'Golos Text', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--golos);
  background-color: var(--black);
  color: var(--white);
  font-size: var(--font);
}

h1,
h2,
h3 {
  margin: 0;
}

a {
  color: var(--magenta);
}

a {
  color: var(--hotmag);
  text-decoration: none;
}

input {
  background-color: #eeeeee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

textarea {
  background-color: #eeeeee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.button {
  background-color: var(--magenta);
  color: white;
  padding: 0.5rem;
  border-radius: 5px;
}

.button:hover {
  color: white;
  background-color: var(--hotmag);
}

.icon-default-size {
  width: 20px;
  height: 20px;
}

.quantity-number {
  font-size: 1.5rem;
  margin: 0 1rem;
}

/*
  Intro
*/
#intro {
  padding: 10rem 4rem 5rem 4rem;
}

#intro p {
  font-size: 1rem;
  line-height: 1.5;
}

#intro .name {
  font-family: var(--sans);
  font-size: 1rem;
}

.name span {
  font-family: var(--sa);
  font-size: 2.5rem;
  color: var(--aqua);
  display: block;
  font-weight: 300;
}

#intro h2 {
  font-size: 4rem;
}

/*
  Navigation
*/

nav {
  font-family: var(--mono);
  font-size: 100%;
  padding: 1rem;
}

nav h1 a {
  font-family: var(--mono);
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

nav li:first-child {
  flex-basis: 100%;
  text-align: center;
}

nav h1 {
  font-size: 130%;
  color: var(--aqua);
}

nav a {
  color: white;
  text-decoration: none;
  display: block;
}

nav a:hover {
  color: var(--magenta);
}

/*
  Footer
*/
footer {
  text-align: center;
}

footer ul {
  list-style-type: none;
  padding: 0;
  margin: 2rem 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 3rem;
  font-size: 1rem;
}

/*
  Table
*/

table {
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: none;
  width: 100%;
  max-width: 100%;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

tfoot {
  display: table-footer-group;
  vertical-align: middle;
  border-color: inherit;
}

table > tr {
  vertical-align: middle;
  padding-bottom: 10px;
}

tr {
  display: table-row;
}

td {
  padding: 10px 10px 0;
  text-align: center;
}

th {
  text-align: center;
  font-weight: 700;
}

/*
  Form
*/

#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 800px;
}

@media (prefers-color-scheme: light) {
  nav {
    max-width: 1280px;
    margin: 0 auto;
  }
  nav li:first-child {
    flex-basis: auto;
    text-align: left;
    margin-right: auto;
  }
}
